<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@500&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/signin.css" />

<div class="container">
  <div class="main-container">
    <div class="inner-container">
      <div class="form-heading">
        <h3>Sign In</h3>
      </div>
      <div class="form-container">
        <form action="/users/createSession" method="post">
          <div class="email">
            <label for="e1"
              ><i class="fa-sharp fa-solid fa-envelope"></i
            ></label>
            <input
              type="email"
              id="e1"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="password">
            <label for="p1"><i class="fa-solid fa-lock"></i></label>
            <input
              type="password"
              id="p1"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="login">
            <input type="submit" id="l1" value="Login" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="side-container">
    <div class="img-container"></div>
    <div class="not">
      Not a member? <br />
      <a href="/users/sign-up" id="uplink">Sign Up</a>
    </div>
  </div>
</div>
